body {
	background: url("../images/commons_hm_bg.jpg") center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* Layout */

.wrapper {
	margin: 0 auto;
	width: 960px;
	clear: both;
}

.menu {
	margin-top: 18px;
	overflow: auto;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cecece;
}

.menu-item a img  {
	/* !important because we need to override the height & width set in the img tag */
	max-width: 90% !important;
	height: auto !important;
}

.menu li:first-of-type { width: 200px; }

.menu li,
.sub-menu li {
	display: block;
	width: 140px;
	margin-right:10px;
	float: left;
}

.sub-menu li,
.sub-menu li:first-of-type {
	margin: 0;
	width: 140px;
}

.footer {
	clear: both;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #cecece;
	overflow: auto;
}

.footer li:first-of-type {
	clear: both;
	width: 210px;
}

.footer li {
	display: block;
	float: left;
	width: 375px;
}

.copyright {
	height: 25px;
	margin-top: 10px;
}

.hero-image img {
	width: 98%;
	height: auto;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
	margin-left: 1%;
	border-radius: 2px;
}

.hero-text {
	position: absolute;
	top: 10px;
	padding: 20px 20px 20px 40px;
	background-color: rgba(0, 0, 0, 0.7);
}

iframe.eveve {
	display: block;
	height: 500px;
	width: 500px;
	margin-left: 293px;
}

iframe.pdf {
	width:960px;
	height:500px;
}

/* Typography */

body {
	font-family: Lato, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff;
}

.menu {
	font-size: 1em;
	line-height: 22px;
	text-transform: uppercase;
}

.sub-menu {
	text-transform: none;
	font-size: 14px;
}

.footer { line-height: 25px; }

.copyright {
	font-size: 10px;
	font-weight: 100;
	line-height: 16px;
}

a {
	color: #fff;
	text-decoration: none;
}

.footer a { border-bottom: 1px dotted #fff; }

.menu a {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0 4px 1px 4px;
}

.menu a:hover {
	background-color: transparent;
 	background-color: rgba(0, 0, 0, 0.4);
}

.menu a[href="#"]:hover,
.menu li:first-of-type a:hover {
	background: none;
}

.sub-menu li:first-of-type a:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
	font-size: 22px;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 10px;
}

.footer h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 0;
}


p { margin-bottom: 10px; }

.hero-text p {
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	color: #fafaea;
	font-size: 0.9em;
	line-height: 1.8em;
	margin: 0;
}

.footer p { 
	-webkit-font-smoothing: normal;
	text-transform: none;
	font-weight: 100; 
}

strong { font-weight: 900; }

/* Gallery */

.gallery br { display: none; }

.gallery-item {
	width: 314px;
	height: 209px;
	overflow: hidden;
	float: left;
	margin: 0 9px 9px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 2px 1px;
}

.gallery a { display: block; }
.gallery dl:nth-of-type(3n) { margin: 0 0 9px 0; }